
<header class="p-3 mb-3 border-bottom  ">
        <div class="d-flex flex-wrap align-items-center justify-content-between">

            <div class="d-flex align-items-center ms-auto">
                <form class="me-3 ">
                    <input type="search" class="form-control search-box" placeholder="Search..." aria-label="Search">
                </form>

                <div class="dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="50" height="50" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small dropdown-menu-end" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="pro">New project...</a></li>
                        <li><a class="dropdown-item" href="set">Settings</a></li>
                        <li><a class="dropdown-item" href="prof">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="sign">Sign out</a></li>
                    </ul>
                </div>
                
            </div>

        </div>
</header>
